* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  position: relative;
}

html {
  font-size: 4px;
}
